---
common-css:
  - "/assets/css/styles.css"
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">
{% include head.html %}

<body>

  {% include nav.html %}

  {{ content }}

  {% include footer.html %}
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
          <!-- Core theme JS-->
          <script src="./assets/js/scripts.js"></script>

</body>
</html>
