---
common-css:
  - "/assets/css/styles.css"
common-ext-css:
  - href: "https://fonts.googleapis.com/css?family=Montserrat:400,700"
  - href: "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" 
  - href: "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" 
  - href: "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.1/css/bootstrap.css"
  - href: "https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" 

common-js:
  - "/assets/js/script.js"
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">
{% include head.html %}

<body>

  {% include eventnav.html %}

  {{ content }}

  {% include footer.html %}
  {% include footer-scripts.html %}
</body>
</html>
