---
layout: default
---

{% assign eventdata = page.data %}
{% assign pagedata = site.data.events[eventdata] %}

<!-- Masthead-->
<header class="masthead" id="page-top">
  <div class="container">
      <div class="masthead-heading text-uppercase">{{pagedata.name}}</div>
      <div class="masthead-subheading">{{ pagedata.date | date_to_long_string }}</div>
      <div class="alert alert-light" role="alert">
        {{pagedata.description}}
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{pagedata.registrationurl}}">Register now</a>
  </div>
</header>
